<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> all books</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
       
       #updateform{
        background-color: black;
        position: absolute;
        right: 15%;
        text-align: end;
        padding: 1%;
        border-radius: 20px;
        box-shadow: 0 5px 10px gray;

       } 
     
       
    </style>
 
</head>
<body class="bg-dark">

    <div class="bg-dark" style="text-align: center;text-shadow: 0 10px 20px white;">
        <H1 style="color: white;"> ALL BOOKS</H1>
      </div>


    <table   class="table table-dark table-hover" >
        <tr>
            <th>b_id</th>
            <th>b_name</th>
            <th>subject</th>
            <th>description</th>
            <th>semester</th>
            <th>quantity</th>
            <th>price</th>
            <th>update book</th>
            <th>delete</th>
        </tr>
        {% for i in books %}
    </tr>
    <tr>
     
     <td>{{i.b_id}}</td>
     <td>{{i.b_name}}</td>
     <td>{{i.subject}}</td>
     <td>{{i.description}}</td>
     <td>{{i.semester}}</td>
     <td>{{i.quantity}}</td>
     <td>{{i.price}}</td>

     <td>  <details>
        <summary>EDIT</summary>
        <form id="updateform" action="/updatebook" method="get">
        
           
            b_id:<input type="number" name="nb_id" value="{{i.b_id}}" required>
            <br><br>
            b_name:<input type="text" name="nb_name"value="{{i.b_name}}" required>
            <br><br>
            subject:<input type="text" name="nsubject" value="{{i.subject}}" required>
            <br><br>
            description:<input type="text" name="ndescription"  value="{{i.description}}" required>
            <br><br>
            semester:<input type="number" name="nsemester"  value="{{i.semester}}" required>
            <br><br>
            
            quantity:<input type="number" name="nquantity"  value="{{i.quantity}}" required>
            <br><br>
            price:<input type="number" name="nprice"  value="{{i.price}}" required>
            <br><br>
            <input id="mybtn2" type="submit" value="UPDATE BOOK">
        </form></details></td>
     <td>
        <button>
                <form action="/deletebook" method="GET">
                    <input style="display: none;" type="number"  name="nb_id" value="{{i.b_id}}">
                    <input  style="background-color:red;text-shadow: 0 0 20px black,0 0 40px black,0 0 80px black;color: white;" type="submit" value="DELETE BOOK">
                </form>   
        </button>
     </td>
    </tr>
     {%endfor%} 
    </table>

  


    <script>
        document.getElementById("mybtn2").addEventListener("click", function() {
          alert("ROW UPDATED SUCCESSFULLY");
        });
    </script>


</body>
</html>